.mrg-d {
  margin-left: 95%;
  padding: 5px;
  font-size: 35px;
  color: rgb(26, 27, 27);
}

.p-n {
  position: absolute;
  color: rgb(252, 249, 249);
  font-size: 15px;
  margin-top: -34px;
  margin-left: 1.5%;
}

.star {
  color: white;
}
